<section class="header">
  <div class="container">
    <div class="content">
      <div class="title">
        <h3>Seu emprego <br />novo <strong>mais perto</strong><br />de você! </h3>
        <p>Cadastre seu currículo e busque <br />em mais de 120 mil vagas.</p>
      </div>

      <div class="image">
        <img src="assets/Items.png" alt="">
      </div>
    </div>

  </div>
</section>

<div class="box">
  <div class="content">
    <p><strong>Anuncie seu <br />currículo</strong></p>
  </div>
</div>


<!-- FORM -->
<section class="form">
  <div class="container">
    <div class="content">
      <div class="form-box">
        <form [formGroup]='' autocomplete="on">
          <label for="name">Nome Completo *</label>
          <input type="text" for="name" placeholder="Seu nome" />

          <label for="email">E-mail *</label>
          <input type="text" for="email" placeholder="email@exemplo.com.br" />

          <label for="phone">Celular *</label>
          <input type="text" for="phone" placeholder="Seu telefone" />

          <label for="city">Cidade *</label>
          <!-- <input type="text" [formControl]="queryField" for="city" placeholder="Selecione sua cidade"
            [(ngModel)]="city" /> -->

          <input type="text" [formControl]="queryField" list="browsers" name="browser">
          <datalist id="browsers">
            <option value="{{res.Descricao}}" *ngFor="let res of results">
          </datalist>

          <!--
          <ul class="list-group" style="    position: absolute;
          z-index: 999;
          background-color: white;
          width: 240px;
          border: 1px solid;
          margin-top: 317px;">
            <li class="list-group-item test" *ngFor="let res of results">
              <a (click)="take($event)"> {{ res.Descricao }} </a>
            </li>
          </ul> -->


          <label for="cargo">Cargos *</label>
          <input type="text" [formControl]="queryFieldJob" for="cargo" placeholder="Selecione o cargo" />


          <button class="btn" type="submit">CONTINUAR CADASTRO</button>

        </form>
      </div>
    </div>
  </div>
</section>


<!-- TRY NOW -->
<section class="trynow">
  <div class="container">
    <div>
      <h2>Simplifique sua <br />busca por um <br />emprego novo!</h2>
      <br />
      <p>Você tem acesso à todas as <br />vagas do site envio ilimitado de <br />currículo.</p>
    </div>
  </div>
</section>

<!-- INFO -->
<section class="info">
  <div class="container">
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
      qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
      distinctio. </p>

  </div>
</section>

<router-outlet></router-outlet>
