<section class="header">
  <div class="container">
    <div class="content">
      <div class="title">
        <h3>Seu emprego <br />novo <strong>mais perto</strong><br />de você! </h3>
        <p>Cadastre seu currículo e busque <br />em mais de 120 mil vagas.</p>
      </div>

      <div class="image">
        <img src="assets/Items.png" alt="">
      </div>
    </div>

  </div>
</section>

<div class="box">
  <div class="content">
    <p><strong>Anuncie seu <br />currículo</strong></p>
  </div>
</div>


<!-- FORM -->
<section class="form">
  <div class="container">
    <div class="content">
      <div class="form-box">
        <form [formGroup]='form' autocomplete="on">
          <label for="name">Nome Completo *</label>
          <input type="text" for="name" placeholder="Seu nome" required/>

          <label for="email">E-mail *</label>
          <input type="text" for="email" placeholder="email@exemplo.com.br" required/>

          <label for="phone">Celular *</label>
          <input type="text" for="phone" placeholder="Seu telefone" required/>

          <label for="city">Cidade *</label>
          <input id='search' placeholder="Digite uma Cidade" autocomplete="off" [formControl]="queryField"
            formControlName='search' class='input-underline search-bar' type='text'>
          <div>
            <div *ngIf='showDropDown' class='search-drop-down'>
              <div (click)='selectCity(city)' class='search-results' *ngFor="let city of results">
                <a [innerHTML]="city">
                </a>
              </div>
            </div>
          </div>

          <label for="cargo">Cargos *</label>
          <input id='searchjob' placeholder="Digite um cargo" autocomplete="off" [formControl]="queryFieldJob"
            formControlName='searchjob' class='input-underline search-bar' type='text'>
          <div>
            <div *ngIf='showDropDownJobs' class='search-drop-down'>
              <div (click)='selectJob(jobs)' class='search-results' *ngFor="let jobs of resultsJob">
                <a [innerHTML]="jobs">
                </a>
              </div>
            </div>
          </div>

          <button class="btn" type="submit">CONTINUAR CADASTRO</button>

        </form>
      </div>
    </div>
  </div>
</section>


<!-- TRY NOW -->
<section class="trynow">
  <div class="container">
    <div>
      <h2>Simplifique sua <br />busca por um <br />emprego novo!</h2>
      <br />
      <p>Você tem acesso à todas as <br />vagas do site envio ilimitado de <br />currículo.</p>
    </div>
  </div>
</section>

<!-- INFO -->
<section class="info">
  <div class="container">
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
      qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
      distinctio. </p>

  </div>
</section>

<router-outlet></router-outlet>
